body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    /* display: flex: 要素をflexboxにする。デフォルトはrow方向(横方向) */
    /* divが200pxだが、containerのheightが500pxなので、その範囲内の大きさで配置される */
    display: flex;
    /* flex-direction: flexモデルの主軸をどの方向にするか */
    /* row: 横方向(デフォルト), column: 縦方向, row-reverse: 横方向(逆方向), column-reverse: 縦方向(逆方向) */
    flex-direction: column;
    /* justify-content: 主軸方向の配置 */
    /* flex-start: 左寄せ(デフォルト), flex-end: 右寄せ, center: 中央寄せ, space-between: 均等配置, space-around: 均等配置(余白を含む) */
    justify-content: center; 
    /* flex-wrap: 主軸方向の折り返し */
    /* nowrap: 折り返さない(デフォルト), wrap: 折り返す, wrap-reverse: 折り返した後で逆方向に折り返す */
    flex-wrap: wrap;
}

#container div {
    width: 200px;
    height: 200px;

}
