/* ユニバーサルセレクタ: 全ての要素に適用 */
/** {
  background-color: gold;
} */

body {
  background-color: #d6f0e6;
}

/* 要素セレクタ: 指定した要素に適用 */
button {
  font-size: 30px;
  background-color: palegoldenrod;
}

/* セレクタリスト: 複数のセレクタに適用 */
h1,
h2 {
  color: purple;
}

span {
  color: green;
}

/* IDセレクタ: 指定したIDに適用 */
#signup {
  background-color: #003049;
  color: #f77f00;
}

/* クラスセレクタ: 指定したクラスに適用 */
.tag {
  background-color: #f77f00;
  color: #003049;
  font-weight: bold;
}

/* 子孫セレクタ: 指定した要素の子孫要素に適用 */
footer a {
  color: red;
}

.post a {
  color: red;
}

/* 隣接セレクタ: 指定した要素の直後の要素に適用 */
/*input + button {
  background-color: pink;
}*/

h2 + button {
  font-size: 20px;
}

/* 直下セレクタ: 指定した要素の直下の要素に適用 */
footer > a {
  color: peru;
}

/* 属性セレクタ: 指定した属性に適用 */
input[type="password"] {
  color: green;
}
a[href*="google"] {
  color: magenta;
}

/* 擬似クラス: 指定した要素の状態に適用 */
/*button:hover {
  background-color: pink;
  color: white;
}*/

.post button:hover {
  background-color: pink;
  color: white;
}

.post a:hover {
  text-decoration: underline;
}

.post button:active {
  background-color: aqua;
}

.post:nth-of-type(2) {
  background-color: #f77f00;
  border: 2px solid #003049;
}

.post:nth-of-type(2n) {
  background-color: #f77f00;
  border: 2px solid #003049;
}

/* 擬似要素: 指定した要素の特定の部分に適用 */
h2::first-letter {
  font-size: 50px;
}

p::first-line {
  font-weight: bold;
  font-size: 20px;
}

/*こうするとページ全体に適用される
::selection {
  background-color: black;
  color: white;
}*/


/*tips

- CSSの優先順位(詳細度)
    - 上から順番に高い。
        - inline(HTMLの中でstyle属性を使って書いたもの)
        - id
        - class
        - type(要素)
   - 同じ優先度の場合は後ろに書いた方が優先される
/*

- 継承
  - 親要素のスタイルが子要素に継承される
  - 以下の場合、p要素のcolorはredになり他のp要素のcolorはblueになる
    body {
      color: red;
    }
    p {
      color: blue;
    }
  - 一番近い親のCSSが継承される
  - 要素によっては継承が行われない要素もある
