section {
    width: 100%;
    height: 800px;
    /*background-color: purple;*/
    background-image: url("https://unsplash.com/ja/%E5%86%99%E7%9C%9F/%E7%BE%8E%E3%81%97%E3%81%84%E5%A4%95%E6%97%A5%E3%81%AE%E4%B8%AD%E3%81%A7%E6%B3%A2%E3%82%92%E3%82%AD%E3%83%A3%E3%83%83%E3%83%81%E3%81%99%E3%82%8B%E3%82%B5%E3%83%BC%E3%83%95%E3%82%A1%E3%83%BC-DWq15yE7080");
    background-size: contain; /* 背景画像を要素のサイズに合わせて表示 */
    background-size: cover; /* 背景画像を繰り返さない */
    background-position: bottom ; /* 背景画像を要素の下部に配置 */
    background: no-repeat center/cover url("https://unsplash.com/ja/%E5%86%99%E7%9C%9F/%E7%BE%8E%E3%81%97%E3%81%84%E5%A4%95%E6%97%A5%E3%81%AE%E4%B8%AD%E3%81%A7%E6%B3%A2%E3%82%92%E3%82%AD%E3%83%A3%E3%83%83%E3%83%81%E3%81%99%E3%82%8B%E3%82%B5%E3%83%BC%E3%83%95%E3%82%A1%E3%83%BC-DWq15yE7080") purple;
    margin: 0 auto;
    color: white;
    font-size: 100px;

}

